.card {
  height: 93px;
  width: 92px;
  margin: 1rem;
  position: relative;
  border:0;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6), 0 3px 6px rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

.card:hover{
  cursor: pointer;
  border: 1px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6), 0 4px 8px rgba(0, 0, 0, 0.6);
}

.card > .img-container {
  height:93px;
  width: 92px;
}